
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Figtree', sans-serif;
}
body{
  height: 100vh;
font-size: 1.2rem;  
}
.leaflet-container{
  height: 90vh;
  margin: auto;
  width: 90vw;
}